@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: rgb(219, 216, 211);
}

:root {
    --primaryColor--: #dff6ff;
    --secondaryColor--: #06283d;
    --buttonColor--: #256d85;
    --waveColor--: #47b5ff;
    --textColor--: #ffffff;
    --textColorSecondary--: #363636;
}

body{
    background: var(--textColorSecondary--);
}

/* NAVAGATION STYLE */

.nav {
    width: 100%;
    height: 80px;
    padding: 0 60px;
    background: linear-gradient(to bottom, #363737, #363636);
    position: sticky;
    left: 0;
    top: 0;
    /* transition: 2s ease-in-out ; */
    z-index: 100;
    display: flex;
}



.nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul li .logo {
    text-transform: uppercase;
    filter: drop-shadow(2px 2px 2px #747171);
}

.nav ul li .logo span {
    font-size: 30px;
}

.nav>ul>li:nth-child(2) {
    width: 40%;
    justify-content: space-between;
}


.nav>ul>li:nth-child(2)>.nav-list>a {
    /* color: black; */
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.nav>ul>li:nth-child(2)>.nav-list>a::after {
    content: "";
    width: 0%;
    /* Initially, width is 0 */
    height: 2px;
    margin-top: 2px;
    position: absolute;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    transition: width 300ms ease-in-out;
}

.nav>ul>li:nth-child(2)>.nav-list>a:hover::after {
    width: 110%;
    /* Expand to 100% of the container width */
}

/* END OF NAVAGATION */

/* HOME SECTION STARTS HERE */
/* NAME CARD STYLE */
.home {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #e4e4e4;
    overflow: hidden;
    z-index: 9;

}

.home .nameBar {
    position: absolute;
    left: 0;
    width: clamp(120px, 25%, 25%);
    height: inherit;
    background-color: #f0f0f0;
    box-shadow: 4px 0 5px #3e3e3e41;
    z-index: 2;
}


.firstName,
.lastName {
    font-family: "Fjalla One", sans-serif;
    color: var(--textColorSecondary--);
    bottom: 50%;
    font-size: 60px;
}

.firstName {
    position: absolute;
    left: 18%;
    transform: rotate(-90deg);

}

.lastName {
    position: absolute;
    left: 25%;
    transform: rotate(-90deg);

}

.home .imageBar {
    position: absolute;
    width: 75%;
    right: 0;
    height: inherit;
    object-fit: cover;
    background-size: cover;
    z-index: 1;
}

.images {
    width: 100%;
    height: inherit;
    object-fit: cover;
    overflow: hidden;
}

.home .container .name-card p,
h1,
span {
    color: black;
    padding: 10px;
}

/* p{

} */

/* END NAME CARD STYLE */


.wave {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
    background: url(../assets/wave.png);
    background-size: 1000px 150px;
    /* background-color: #40bfff; */
    filter: invert(40%) sepia(90%) saturate(1542%) hue-rotate(178deg) brightness(102%) contrast(101%);
}

.home .wave1 {
    animation: animate 20s linear infinite 0s;
    z-index: 10;
    opacity: 1;
}

.home .wave2 {
    animation: animate2 15s linear infinite -5s;
    z-index: 9;
    opacity: 0.5;
    bottom: 10px;
}

.home .wave3 {
    animation: animate 25s linear infinite -2s;
    z-index: 8;
    opacity: 0.3;
    bottom: 15px;
}

.home .wave4 {
    animation: animate2 10s linear infinite -5s;
    z-index: 7;
    opacity: 0.7;
    bottom: 20px;
}


@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

.colorGradient {
    position: relative;
    width: 100%;
    height: 50vh;
    padding-top: 120px;
    background: linear-gradient(to bottom, #48B6FF, #373737);

}

/* ABOUT SECTION STARTS HERE */

.about {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 120px;
    background: linear-gradient(to bottom, var(--textColorSecondary--),  #242424);

}

/* ABOUT SECTION ENDS HERE */





@media screen and (max-width:480px) {


    .firstName,
    .lastName {
        font-size: 50px;
    }

    .firstName {

        left: 1px;
        top: 58%;
        bottom: 32%;

    }

    .lastName {
        left: 0;
        top: 23%;

    }

}