@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: rgb(219, 216, 211);
}

:root {
    --primaryColor--: #dff6ff;
    --secondaryColor--: #06283d;
    --buttonColor--: #256d85;
    --waveColor--: #47b5ff;
    --textColor--: #ffffff;
}


/* NAVAGATION STYLE */

nav {
    width: 100%;
    height: 80px;
    padding: 0 60px;
    display: flex;
    background-color: black;
    opacity: 0;
}

nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li .logo {
    text-transform: uppercase;
    filter: drop-shadow(2px 2px 2px #747171);
}

nav ul li .logo span {
    font-size: 30px;
}

nav>ul>li:nth-child(2) {
    width: 40%;
    justify-content: space-between;
}


nav>ul>li:nth-child(2)>.nav-list>a {
    /* color: black; */
    cursor: pointer;
    text-decoration: none;
    position: relative;


}

nav>ul>li:nth-child(2)>.nav-list>a::after {
    content: "";
    width: 0%; /* Initially, width is 0 */
    height: 2px;
    margin-top: 2px;
    position: absolute;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    transition: width 300ms ease-in-out;
}

nav>ul>li:nth-child(2)>.nav-list>a:hover::after {
    width: 110%; /* Expand to 100% of the container width */
}

/* END OF NAVAGATION */